<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="exceptionHandling" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Configuration.ExceptionHandlingSettings, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
    <section name="videoconferencias" type="Axede.WPF.Softphone.Applications.BussinesClass.Configuracion.SeccionVideoConferencia,Axede.WPF.Softphone.Applications" />
    <section name="OXEServerServices" type="Axede.WPF.Softphone.Applications.BussinesClass.Configuracion.SeccionOXEServerServices,Axede.WPF.Softphone.Applications" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <appSettings>
    <!--Nombre Base de Datos MYSQL-->
    <add key="ConnectionStringName" value="MySQL" />
    <!--Nombre de la aplicacion para generar la llave de encripcion, el proyecto se encuentra en gestion Cobro-->
    <add key="ApplicationName" value="SoftPhone - Axede" />
    <!--Timepo de espera antes de marcar la extension-->
    <add key="SecWaitSendTones" value="3000" />
    <!--Direccion IP OXE-->
    <add key="SIPServer" value="192.168.100.200" />
    <!--Puerto del OXE-->
    <add key="PuertoServer" value="5060" />
    <!--Codigo para enviar tonos-->
    <add key="DTMFsobre2833" value="97" />
    <!--Llave de encripcion y Arreglo-->
    <add key="EncryptionKeyUI" value="3fjqbI1ADhInMWcU3/grvBfALrnqJ3u+qK3p8bg3/0I=" />
    <add key="EncryptionArrayUI" value="s/I98dSzCAEcBODPwORC3Q==" />
    <!--XML de Mensajes-->
    <add key="XmlMensajes" value="Mensajes.xml" />
    <!--LLave no usada-->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <!--Servicios del otuc-->
    <add key="URL_XMLApiFrameworkService_OTUC5" value="http://10.15.200.22/api/services/5.0/XMLApiFramework?wsdl" />
    <add key="URL_XMLMessagingService_OTUC5" value="http://10.15.200.22/api/services/5.0/XMLMessaging?wsdl" />
    <!--LLaves son las credenciales del OTUC-->
    <add key="XMLApiFrameworkService_OTUC5_User" value="user9998" />
    <add key="XMLApiFrameworkService_OTUC5_Pass" value="87654321" />
    <!--El numero del correo de voz-->
    <add key="VoiceMailNumber" value="8501" />
    <!--Llamada Externa-->
    <add key="KeyExternalCall" value="0" />
    <!--Manejo FileOver-->
    <add key="FileOverService" value="false" />
    <add key="IntentosPingServer" value="2" />
    <add key="TimeoutPingServer" value="240000" />
    <!--Log sobre ping que se envian al OXE-->
    <add key="MonitoreoPing" value="false" />

  </appSettings>
  <connectionStrings>
    <add name="MySQL" connectionString="Data Source=10.100.100.56;Initial Catalog=axd_interaxion_r7;User Id=userotuc;Password=axede.otuc;" />
  </connectionStrings>
  <!--Manejo de OXE principal y Secundario-->
  <OXEServerServices>
    <OXEServerService IP="10.15.200.10" Activo="true" Principal="true" />
    <OXEServerService IP="10.15.254.10" Activo="false" Principal="false" />
  </OXEServerServices>
  <!--Configuarcion del RMX-->
  <videoconferencias>
    <!--Tipo de llamada 1=Extension, 2=IP, 3=Url-->
    <videoconferencia numeroMarcar="192.168.21.139" nombre="RMX" TipoLlamada="2" />
  </videoconferencias>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>